*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    
}
.header{
    overflow-x: hidden;
    background:radial-gradient(#EBF5FB , #f9fcfd ) ;
}
.logo {
    font-family: 'Monoton', cursive;
    font-size: 28px;
    color: rgb(39, 136, 0);
}
.logo:hover{
    color: indianred;
}
.navbar {
    
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
    margin-top: 20px;
}
nav ul a{
    text-decoration:none;
    font-family: 'The Nautigal', cursive;
    font-size: 30px;
    font-weight: bold;
    color: #581845;
}

a:hover{
    color: #D4AC0D  ;
}
.container{
    max-width: 1300px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
}
.footer{
    padding-top: 80px;
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px ;
}
.footer .row{
    padding-top: 50px;
}
.footer-col-1, .footer-col-2, .footer-col-3{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2,.footer-col-3{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}